#footerbase {
    border-top: 2px solid #000000;
    margin-top: auto;
    padding-bottom: 10px;
}

#knopkacat {
    margin: 5px 0;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    color: black;
}

#knopkacat:active {
    transform: scale(0.95);
}

#knopkapubl {
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: black;
}

#knopkapubl:active {
    transform: scale(0.95);
}

#golovpubl {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgba(185, 185, 185, 0.65);
}

#golovpub2 {
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: #1f1f1f;
}

#golovpub2:active {
    transform: scale(0.95);
}

.card-img-top {
    width: 100%;
    height: 200px;
}

#knopkalist {
    color: black;
    background-color: rgb(145, 145, 148)
}

#knopkalist:active {
    transform: scale(0.95);
}

#publ-detail {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: rgba(197, 194, 194, 0.65);
}

h1 {
    color: #ffffff;
}

.card-body {
    background-color: rgba(110, 110, 110, 0.65);
}