{% extends 'base.html' %}

{% block content %}

{% if articles %}
{% for item in articles %}
<div id="golovpubl">
    <a href="{{ item.get_absolute_url }}" type="button" class="btn btn-outline-secondary" id="golovpub2">
        <h4>{{ item.title }}</h4>
    </a>
    <h5 class="text-center">
        {{ item.pub_date|date:"j E Y"|safe|linebreaks }}
    </h5>
    <p>
        {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
    </p>
</div>
{% endfor %}
{% endif %}
<a href="{% url 'articles-list' %}" class="btn btn-secondary" id="knopkapubl">
    <h4>Всі публікації</h4>
</a>
{% endblock %}